[Desktop Entry]
Type=Application
Name=Хранилище
Comment=Где занято место, безопасная очистка
Exec=rembly-storage
Icon=drive-harddisk
Categories=System;
